.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /*font-family: 'NanumSquare' !important;*/
  font-weight: 400;
}

.footerContainer{
  height: 122px;  
}

#contact-footer .container {
  padding: 40px;
}

.partnerUni {
  background-color:  white;
}

.mainBannerText {
  width: 1224px;
  height: 210px;
  font-family: 'NanumSquare';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  z-index: 999;
  top: 40%;
  width: 100%;
  font-size: 4.5vw;
  text-align: center;
}

.introduceTitle {
  background: url('../images/about_bg.png');
}
.mainBannerText > span {
  font-family: 'NanumSquare';
  font-weight: 600;
}

.applyButton {
  position: relative;
  top: -135px;
  left: 530px;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: #44c0b4;
  text-align: center;
  line-height: 6;
  color: white;
  cursor: pointer;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /*margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }
*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.activity {
  width: 100%;
  height: 300px;
  background: url('../images/activity.png') no-repeat;
  padding-top: 89px;
}

.activityContent {
  width: 200px;
  height: 200px;
  background-color: white;
}

.recruitContentDesc {
  background: url('../images/activityContentBG.png') no-repeat;
  max-width: 745px;
  height: 800px;
  margin: 0 auto;
  background-position: center top;
  color: black;
  padding: 57px 0 0 0px;  
}

.contentActivityDesc.typeDesc {
  max-width: 85%;
}
.recruitContent {
  margin-bottom: 45px !important;
}

.glyphicon {
   font-family:'NanumSquare' !important;
    /*more css comes along here*/
}

@media only screen and (max-width: 600px) {

  .recruitContent {
    margin-bottom: 20px !important;   
  }
}

.activity_1 {
  width: 100%;
  height: 300px;
  background : url('../images/connectActivity.png');
  padding-top: 89px;
  margin-bottom: 50px;
}

.faq { 
  width: 100%;
  height: 300px;
  background : url('../images/faqTItle.png');
  padding-top: 89px;
  background-color: white;

}

#faq > .container {
    min-height: 800px;
}

.faqMenus {
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid #e6e6e6;
  height: 20px;
  line-height: 20px;
  color: #3b3b3b;
  min-width: 100px;
  font-size: 16px;
  font-family: 'NanumSquare';
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.faqAnswer {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-weight: bold;
}

.faqAnswerData {
  display: inline-block;
}

.faqLogo {
  color: #31bbb1;
  margin-right: 10px;
  font-weight: bold;
}

.contetnActivityDesc{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.faqMenus.current {
  color: #31bbb1;

}
.recruit {
  width: 100%;
  height: 300px;
  background : url('../images/recruit.png');
  padding-top: 89px;
  margin-bottom: 50px;
  background-color: white;
}

.faqContentContent {
  background-color: #f4f4f4;
  color: #3b3b3b;
  padding: 23px 35px 23px;
  text-align: left;
}
.faqContents{
  border-top: 1px solid;
  max-width: 970px;
  margin: 0px auto;
}

.faqWrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 970px;

}
#recruit{ 
  background : url('../images/recruit_bg.png') no-repeat;
  background-size: 100%;
  background-color: white;
  background-position: center right;
}

#faq {
  background-color: white;
}
.faqContentTitle {
  color: black;
  padding: 17px 35px 16px;
  background-color: transparent;
}

.footerWrapper{
  text-align: center;  
}

.tmlabel > p{
  font-size: 16px;
  font-family: NanumSquareOTFR;
  color: #3b3b3b;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
}
.footerLogo {
  display: inline-block;
  vertical-align: top;
}
.footerLogo_2 {
  margin-left: 20px;
  margin-top: -4px;
}

.footerLogo {
  margin-bottom: 10px;  
  /*margin-right: 20px;*/
}

.footerCenterDesc {
  font-size: 14px;
  font-family: 'NanumSquare';
  font-weight: 200;
  color: #2d2d2d;
  text-align: left;
  margin-left: 90px;
  /*margin-left: 70px;*/
}

.dropdown-menu{
  box-shadow: none !important;
}
.footerCenterDesc span {
  margin-left: 112px; 
  display: block;
}

.footerCenterDesc span {
    font-family: 'NanumSquare';
    font-weight: 400;
    color: #3b3b3b;
}

.relatedSizeMenu {
  width: 270px;
  height: 40px;
  border: 1px solid #c2c2c2;
  background-color: white;
  padding:9px 9px 9px 20px;
  text-align: left;
  cursor: pointer;
  /*margin: auto;*/
}

.positionCenterClass {
  text-align: center;
}
.relatedSizeIcon {
  float: right;
}

.relatedSizeMenu {
  display: block;
  width: 270px;
  height: 40px;
  background-color: white !important;
  border-radius : 0px !important;
}

.dropup > .dropdown-menu {
  /*width: 270px;*/
  border:1px solid #c2c2c2;
  border-radius: 0px !important;
  padding: 0px !important;

}
.dropdown-menu li a {
  line-height: 36px;
}

.dropdown-menu li a:hover {
  font-weight: bold !important;
  background-color: transparent !important;
}

.dropup{
  padding-left: 0px !important;
}

.footerWrapperWrapper {
    float: right;
}

.footerWrapperWrapper .dropdown-menu>li>a {
  text-align: left;
}

.dropup .dropdown-menu {
  width: 270px;
  margin-bottom: -1px !important;
}

.dropup > .dropdown-menu li {
  height: 36px;
  line-height: 36px;
}

.footerlogos {
  float: left;
  text-align: left;
}
