         <div id="carousel-example-generic" class="carousel slide img-responsive" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="mainBannerText">
              소프트웨어 교육으로 함께 성장하는 </br> 
              <span>CONNECT SCHOOL</span> 입니다.
            </div>
            <div class="item active">
              <img class="img-responsive" src="images/main3.png" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="images/main2.png" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="images/main1.png" alt="">
            </div>
          </div>
        </div>
    </section>

    <!-- About -->
    <section id="introduce" class="section-page">
      <div class="introduceTitle">
        <div class="introduceMoto text-center">
          Software · Teaching · Growth
        </div>
        <img src="images/pattern.png" class="introduceDivideImage"/>
        <div class="introduceSubtitle text-center">
          커넥트스쿨 소개 
        </div>
        <div class="introduceDesc text-center">
          커넥트스쿨은 대학생 선생님이 전국의 초·중등학생들에게 </br>
          소프트웨어 교육을 나눔으로써 함께 성장하는 교육 프로그램입니다.
        </div>
      </div>
    </section>

    

    <!-- Parallax 1 -->
    <!-- <section id="parallax-1" class="container-fluid parallax fixed" style="background-image: url(images/parallax/1.jpg)">
      <p class="parallax-text">Just for Ambitious</p>
    </section>  -->

    <!-- Services -->
    <section id="activities" class="section-page">
      <div class="container">
        <h3 class="text-center connectSchoolPartner">커넥트스쿨 파트너 대학교</h3>
        <img src= ""/>
        <div class="connectSchoolPartnerDesc">
          커넥트스쿨은 아래 대학교들과 함께합니다.
        </div>
        <img class="connectSchoolPartnerImage" src="images/connnectSchoolPartner.png"/>
      </div>
    </section>

    <section id="education" class="section-page">
        <div class="customBanner activity">
          <div class="introduceSubtitle">
            대학교 봉사단 
          </div>   
          <div class="introduceDesc">
            커넥트스쿨 파트너 대학교에 재학중인 대학생 선생님으로서 </br>
            소프트웨어 교육을 통해 더 나은 미래를 만들어가는 데 앞장섭니다.
          </div>
        </div>
        <div class="container activityContainer">
          <div class="activityContainerWrapper">

              <h3 class="text-center acitvityContainerTitle">커넥트스쿨 연혁</h3>
              <img src="images/activityContainer.png" class="introduceDivideImage"/>

             <div>
              <div class="col-sm-12">
                <ul class="tmtimeline col-sm-12">
                    <li>
                        <div class="tmtime"><span>2016/하반기</span></div>
                        <div class="tmicon">in<i class="fa fa-linkedin"></i></div>
                        <div class="tmlabel">
                            
                            <p>
                              · 대한민국 교육기부대상 수상(2016)</br>
                              · 대학생 선생님과 함께하는 소프트웨어교실(5기) 실시 (17개 대학교, 초등학생 512명 수혜)
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="tmtime"><span>2016/상반기</span></div>
                        <div class="tmicon">in<i class="fa fa-linkedin"></i></div>
                        <div class="tmlabel">
                            <p>· 대학생 선생님과 함께하는 소프트웨어교실(4기) 실시 (17개 대학교, 초등학생 426명 수혜)</p>
                        </div>
                    </li>
                    <li>
                        <div class="tmtime"><span>2015/하반기</span></div>
                        <div class="tmicon">in<i class="fa fa-linkedin"></i></div>
                        <div class="tmlabel">
                            
                            <p>· 대학생 멘토와 함께하는 소프트웨어교실(3기) 실시 (18개 대학교, 초등학생 681명 수혜) </br>
                            · 교육부 지정 우수교육기부동아리 수상(2015)
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="tmtime"><span>2015/상반기</span></div>
                        <div class="tmicon">in<i class="fa fa-linkedin"></i></div>
                        <div class="tmlabel">
                            <p>· 대학생 멘토와 함께하는 소프트웨어교실(2기) 실시(9개 대학교, 349명 초등학생 수혜)</p>
                        </div>
                    </li>
                    <li>
                        <div class="tmtime"><span>2014/하반기</span></div>
                        <div class="tmicon">in<i class="fa fa-linkedin"></i></div>
                        <div class="tmlabel">
                            <p>· 대학생 멘토와 함께하는 소프트웨어교실(1기) 실시(3개 대학교, 120명 초등학생 수혜)</p>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
          </div> 
        </div>
    </section>

    <!-- Parallax 2 -->
<!--     <section id="parallax-2" class="container-fluid parallax fixed" style="background-image: url(images/parallax/2.jpg)">
      <p class="parallax-text">Usable</p> 
    </section>  -->

    <!-- Portfolio -->
    <section id="activities" class="section-page">
     <div class="customBanner activity_1">
        <div class="introduceSubtitle">
          커넥트스쿨 활동
        </div>   
        <div class="introduceDesc">
        커넥트스쿨은 소프트웨어 교육 격차를 완화하고자 전국 파트너 대학의 학생들과 함께</br>소프트웨어 교육이 필요한  초·중등 학생들에게 교육을 기부하는 프로그램입니다.
        </div>
      </div>
        <h3 class="text-center acitvityContainerTitle">주요활동</h3>
        <img src="images/activityContainer.png" class="introduceDivideImage"/>
        <div class="introduceActivityWrapper">
          <ul id="og-grid" class="og-grid">
            <li ng-repeat="activity in activities">
                <p class="connectActivityContent" ng-repeat="(key ,value) in activity" ng-class="{ title : key == '제목'}">
                  <span class="connectActivityContentTitle " ng-hide="key == '제목'">{{ key }} </span> 
                  </br>
                  <span class="contetnActivityDesc" ng-bind-html="value"> </span>
                </p>
            </li>
          </ul>

        </div>
         <h3 class="text-center acitvityContainerTitle">연간 일정</h3>
        <img src="images/activityContainer.png" class="introduceDivideImage"/>
        <div class="connectSchoolSchedule">
        </div>
    </section>

     <!-- Contact -->
    <section id="recruit" class="section-page">
      <div class="recruit introduceSubtitle">
        모집
        <div class="introduceDesc">
          소프트웨어 교육의 선순환을 함께 만들 대학생 여러분들의 많은 지원 바랍니다!
        </div>
      </div>   
     

      <div class="container">
         <div class="recruitContentDesc">
         <p class="connectActivityContent recruitContent" ng-repeat="(key ,value) in recruit" ng-class="{ title : key == '제목'}">
            <span class="connectActivityContentTitle" ng-bind-html="key"></span> 
            <span class="contetnActivityDesc" ng-bind-html="value"> </span>
          </p>
      </div>
    </section>
  
    <!-- FAQ -->
    <section id="faq" class="section-page">
      <div class="customBanner faq">
        <div class="introduceSubtitle">
          FAQ
        </div>   
        <div class="introduceDesc">
        커넥트스쿨에 대해 궁금하신 점은 FAQ에서 확인해주세요.
        </div>
      </div>


        <div class="container">
            <div class="faqWrapper">
              <div class = "faqMenus introduceDesc" ng-repeat="(key, value) in menus" ng-click="showData(key)" ng-class="{ current : currentTab === key}">
                 {{ getText(key) }}
              </div>
               <div class="faqContents" ng-repeat="(title , content) in getContent()">
                    <div class="faqContentTitle">
                        <span class="faqLogo"> 
                          Q.
                        </span> 
                         {{ title }}
                    </div>
                    <div class="faqContentContent">
                      <span class="faqAnswer" >
                        A.
                      </span>
                      <span class="faqAnswerData" ng-bind-html="content">
                      </span>
                    </div>
                </div>
              </div>
        </div>
    </section>

   

    <section id="contact-footer">
      <div class="container">
         <div>
          <div class="col-xs-12">
              <ul class="col-xs-3">
                  <li><i class="fa fa-map-marker"></i> 123 Ambixo St. <br>
                      2000 Sydney <br>
                      Google Map
                  </li>
              </ul>            
              <ul class="col-xs-3">
                  <li><i class="fa fa-phone"></i> (+00) 123.456789</li>
                  <li><i class="fa fa-envelope"></i> <a href="mailto:#">ambixo@yopmail.com</a></li>
                  <li><i class="fa fa-skype"></i> Ambixo</li>
              </ul>
              <ul class="col-xs-3">
                  <li><i class="fa fa-clock-o"></i> Mon-Fri: 9:00am &rarr; 5:30pm <br>
                    Sat: 10:00am &rarr; 2:30pm <br>
                    Sunday: Closed
                  </li>
              </ul>
              <ul class="col-xs-3">
                  <li><i class="fa fa-info-circle"></i> Aliquam lectus orci adipiscing et sodales ac feugiat non lacus ut dictum velit <span class="hidden-xs">nec est quisque posuere purus sit amet</span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    
    <!-- Back to Top -->
    <p class="back-to-top"><i class="fa fa-chevron-up"></i></p>
</div>
   