         <div id="carousel-example-generic" class="carousel slide img-responsive" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="images/main-img.png" alt="">
              
            </div>
            <div class="item">
              <img class="img-responsive" src="images/main-img.png" alt="">
            
            </div>
          </div>
        </div>
    </section>

    <!-- About -->
    <section id="introduce" class="section-page">
      <div class="introduceTitle">
        <div class="introduceMoto text-center">
          Software · Teaching · Growth
        </div>
        <img src="images/pattern.png" class="introduceDivideImage"/>
        <div class="introduceSubtitle text-center">
          커넥트스쿨 소개 
        </div>
        <div class="introduceDesc text-center">
          커넥트스쿨은 대학생 선생님이 전국의 초·중등학생들에게 </br>
          소프트웨어 교육을 나눔으로써 함께 성장하는 교육 프로그램입니다.
        </div>
      </div>
    </section>

    

    <!-- Parallax 1 -->
    <!-- <section id="parallax-1" class="container-fluid parallax fixed" style="background-image: url(images/parallax/1.jpg)">
      <p class="parallax-text">Just for Ambitious</p>
    </section>  -->

    <!-- Services -->
    <section id="activities" class="section-page">
      <div class="container">
        <h3 class="text-center connectSchoolPartner">커넥트스쿨 파트너 대학교</h3>
        <img src= ""/>
        <div class="connectSchoolPartnerDesc">
          커넥트스쿨은 아래 대학교들과 함께합니다.
        </div>
        <img class="connectSchoolPartnerImage" src="images/connnectSchoolPartner.png"/>
      </div>
    </section>

    <section id="education" class="section-page">
        <div class="container">
          <h3 class="text-center">Education</h3>
           <div>
            <div class="col-sm-12">
              <ul class="tmtimeline col-sm-12">
                  <li>
                      <div class="tmtime"><span>2016/하반기</span></div>
                      <div class="tmicon"><i class="fa fa-linkedin"></i></div>
                      <div class="tmlabel">
                          
                          <p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede.</p>
                      </div>
                  </li>
                  <li>
                      <div class="tmtime"><span>2016/상반기</span></div>
                      <div class="tmicon"><i class="fa fa-linkedin"></i></div>
                      <div class="tmlabel">
                          <p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa. Vestibulum quis augue sit amet ipsum laoreet pretium. Nulla facilisi. Duis tincidunt, felis et luctus placerat, ipsum libero vestibulum sem, vitae elementum wisi ipsum a metus.</p>
                      </div>
                  </li>
                  <li>
                      <div class="tmtime"><span>2015/하반기</span></div>
                      <div class="tmicon"><i class="fa fa-linkedin"></i></div>
                      <div class="tmlabel">
                          
                          <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum. Nulla facilisi.</p>
                      </div>
                  </li>
                  <li>
                      <div class="tmtime"><span>2015/상반기</span></div>
                      <div class="tmicon"><i class="fa fa-linkedin"></i></div>
                      <div class="tmlabel">
                          <p>Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui.</p>
                      </div>
                  </li>
                  <li>
                      <div class="tmtime"><span>2014/하반기</span></div>
                      <div class="tmicon"><i class="fa fa-linkedin"></i></div>
                      <div class="tmlabel">
                          <p>Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est.  Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque.</p>
                      </div>
                  </li>
              </ul>
            </div>
          </div> 
        </div>
    </section>

    <!-- Parallax 2 -->
<!--     <section id="parallax-2" class="container-fluid parallax fixed" style="background-image: url(images/parallax/2.jpg)">
      <p class="parallax-text">Usable</p> 
    </section>  -->

    <!-- Portfolio -->
    <section id="recrute" class="section-page">
        <div class="container">
          <h3 class="text-center">Portfolio</h3>
          <p class="text-center">All brand icons are trademarks of their respective owners</p>

          <ul id="og-grid" class="og-grid">
            <li>
              <a href="#" data-largesrc="images/portfolio/1.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/1.jpg" alt="img01"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/2.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/2.jpg" alt="img02"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/3.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/3.jpg" alt="img03"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/1.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/1.jpg" alt="img01"/>
              </a>
            </li>
            <li>
              <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/portfolio/2.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/2.jpg" alt="img02"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/3.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/3.jpg" alt="img03"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/1.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/1.jpg" alt="img01"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/2.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/2.jpg" alt="img02"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/3.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/3.jpg" alt="img03"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/1.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/1.jpg" alt="img01"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/2.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/2.jpg" alt="img02"/>
              </a>
            </li>
            <li>
              <a href="#" data-largesrc="images/portfolio/3.jpg" data-title="Single Project" data-description="Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh.">
                <img src="images/portfolio/thumbs/3.jpg" alt="img03"/>
              </a>
            </li>
          </ul>

        </div>
    </section>

    <!-- Parallax 3 -->
    <section id="parallax-3" class="container-fluid parallax fixed" style="background-image: url(images/parallax/3.jpg)">
      <p class="parallax-text">Pixel Perfect</p>
    </section>
  
    <!-- FAQ -->
    <section id="skills" class="section-page">
        <div class="container">
           <div>
            <h3 class="text-center">FAQ</h3>
            
            <div class = "faqMenus" ng-repeat="(key, value) in menus" ng-click="showData(key)">
               {{ key }}
            </div>
             <div class="faqContents" ng-repeat="(title , content) in getContent()">
                  <div class="faqContentTitle">
                      title : {{ title }}
                  </div>
                  <div class="faqContentContent">
                      content : {{ content }}
                  </div>
              </div>
          </div>
        </div>
    </section>

    <!-- Parallax 5 -->
    <section id="parallax-7" class="container-fluid parallax fixed" style="background-image: url(images/parallax/7.jpg)">
      <p class="parallax-text">Responsive</p>
    </section>

    <!-- Education -->
    

    <!-- Contact -->
    <section id="contact" class="section-page">
      <div class="container">
        <h3 class="text-center">Contact</h3>
         <div>
            
          <!-- Social Links -->
          <div class="col-xs-12">
              <ul id="social-links"> 
                  <li><a class="tool" data-placement="top" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>    
                  <li><a class="tool" data-placement="top" href="#" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Github"><i class="fa fa-github-alt"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="Twitter"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="RSS"><i class="fa fa-rss"></i></a></li>
                  <li><a class="tool" data-placement="top" href="#" title="E-Mail"><i class="fa fa-envelope-o"></i></a></li>
              </ul>
          </div>

          <!-- Brand & Copyright -->
          <div id="brand-and-copy" class="col-xs-12">
            <p id="brand" class="logo"><span>A</span>mbixo</p>
            <p>© 2015 Ambixo. All rights reserved. HTML5-CSS3 Template by <a href="http://www.martinasepi.it" target="_blank">Martina Sepi</a></p>
          </div>

        </div> 
      </div>
    </section>

    <section id="contact-footer">
      <div class="container">
         <div>
          <div class="col-xs-12">
              <ul class="col-xs-3">
                  <li><i class="fa fa-map-marker"></i> 123 Ambixo St. <br>
                      2000 Sydney <br>
                      Google Map
                  </li>
              </ul>            
              <ul class="col-xs-3">
                  <li><i class="fa fa-phone"></i> (+00) 123.456789</li>
                  <li><i class="fa fa-envelope"></i> <a href="mailto:#">ambixo@yopmail.com</a></li>
                  <li><i class="fa fa-skype"></i> Ambixo</li>
              </ul>
              <ul class="col-xs-3">
                  <li><i class="fa fa-clock-o"></i> Mon-Fri: 9:00am &rarr; 5:30pm <br>
                    Sat: 10:00am &rarr; 2:30pm <br>
                    Sunday: Closed
                  </li>
              </ul>
              <ul class="col-xs-3">
                  <li><i class="fa fa-info-circle"></i> Aliquam lectus orci adipiscing et sodales ac feugiat non lacus ut dictum velit <span class="hidden-xs">nec est quisque posuere purus sit amet</span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    
    <!-- Back to Top -->
    <p class="back-to-top"><i class="fa fa-chevron-up"></i></p>
</div>
   